<div class="login-table">


    <table border="1 solid black" style="width:600px">
        <tr style="text-align: center;">
            <th><a >ĐĂNG KÍ</a></th>
            <th><a routerLink="/login">ĐĂNG NHẬP</a></th>
        </tr>
        
        <td colspan="2">
            <form  action="" method="POST"  border="1 solid black">
                <div class="form-group">
                    <label>HỌ*</label>
                    <input type="text" class="form-control" formControlName="made" placeholder="Input field">
                </div>
                <div class="form-group">
                    <label>TÊN*</label>
                    <input type="text" class="form-control" formControlName="made" placeholder="Input field">
                </div>
                <div class="form-group">
                    <label>SỐ ĐIỆN THOẠI*</label>
                    <input type="number" class="form-control" formControlName="made" placeholder="Input field">
                </div>
                <div class="form-group">
                    <label>Email*</label>
                    <input type="email" class="form-control" formControlName="made" placeholder="Input Email">
                </div>
                <div class="form-group">
                    <label>Password*</label>
                    <input type="password" class="form-control" formControlName="made" placeholder="Input Password">
                </div>
                <button type="submit" class="btn btn-prinary" style="text-align: center;color: aliceblue;background: black; width: 600px;">TẠO TÀI KHOẢN</button>
        
            </form>
        </td>
        
    </table>
</div>
