<div class="login-table">


    <table border="1 solid black" style="width:600px">
        <tr style="text-align: center;">
            <th><a routerLink="/register">ĐĂNG KÍ</a></th>
            <th><a >ĐĂNG NHẬP</a></th>
        </tr>
        
        <td colspan="2">
            <form  action="" method="POST"  border="1 solid black" [formGroup]="formLogin">
                
                <div class="form-group">
                    <label>Email*</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Input Email">
                    <div *ngIf="f['email'].touched && f['email'].errors">
                        <small class="help-block" *ngIf="f['email'].errors['required']"> Email Không Được Để Trống!!</small>
                        <small class="help-block" *ngIf="f['email'].errors['email']">Email Không Được Định Dạng!!</small>

                    </div>
                </div>
                <div class="form-group">
                    <label>Password*</label>
                    <input type="password" class="form-control"  formControlName="password" placeholder="Input Password">
                    <div *ngIf="f['password'].touched && f['password'].errors">
                        <small class="help-block" *ngIf="f['password'].errors['required']"> Email Không Được Để Trống!!</small>

                    </div>
                </div>
                <button type="submit" class="btn btn-prinary" [disabled]="true" style="text-align: center;color: aliceblue;background: black; width: 600px;">ĐĂNG NHẬP</button>
        
            </form>
        </td>
        
    </table>
</div>
